<div class="columns">
  <%= form_with url: '/profiles', method: :get, local: true, class: "column" do %>
    <%= label_tag :username, 'Search' %>
    <div class="control">
      <%= text_field_tag :username, {}, class: "input", placeholder: "Enter username" %>
    </div>
    
    <div class="mt-2">
      <%= submit_tag 'Search', class: "button is-black" %>
    </div>
  <%end %>
</div>

<div class="columns">
  <% @users.each do |user| %>
    <div class="column">
      <%= render partial: "user_result", locals: { user: user } %>
    </div>
  <% end %>
</div>

<div class="panel">
  <div class="panel-heading">Friends</div>
  <p class="panel-tabs">
    <%= link_to "All Friends", "", class: "is-active" %>
    <%= link_to "Pending Invites", "" %>
    <%= link_to "Pending Requests", "" %>
  </p>
</div>
