<div class="level mb-6">
  <div class="level-left">
    <span class="is-size-3 has-text-weight-bold pr-2"><%= @user.username %>'s Profile</span>
    <%= link_to "Upload", new_photo_path, class: "button is-dark" %>
  </div>
  <div class="level-right">
    <% friend_count = @user.friends.count %>
    <%= link_to "#{friend_count} #{"Friend".pluralize(friend_count)}", friends_path(@user.username) %>
    
    <% if @user == current_user %>
      <div class="pl-2">
        <% friend_request_count = current_user.requested_friends.count %>
        <%= link_to "#{friend_request_count} #{"Friend Request".pluralize(friend_request_count)}", friend_requests_path %>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: "photos/gallery", locals: { photos: @user.photos } %>
